<div class="loginContainer" *ngIf="fireService.auth.currentUser==null" >
  <div class="email">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input [(ngModel)]="email" matInput>
    </mat-form-field>
  </div>

  <div class="password">
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Password</mat-label>
      <input [(ngModel)]="password" matInput type="password">
    </mat-form-field>
  </div>
  <div class="buttonsDIV">
    <button mat-flat-button id="btnLogin" color="primary" (click)="fireService.signIn(email, password)">Sign in</button>

    <button mat-flat-button id="btnRegister" color="primary" (click)="fireService.register(email, password)">Sign up</button>
  </div>
</div>


<div class="LogindPage" *ngIf="fireService.auth.currentUser">

  <h1>welcome, {{fireService.auth.currentUser.email}}
    <button (click)="fireService.signOut()" >sign out</button>
    <img (click)="fileInput.click()" style="max-height: 60px;" [src]="fireService.currentlySignedInUserImageURL" alt="">
    <input (change)="fireService.updateUserImage($event)" hidden #fileInput type="file">
  </h1>
  <input [(ngModel)]="sendThisMessage">

  <button (click)="fireService.sendMessage(sendThisMessage)">send message</button>

  <p *ngFor="let m of fireService.messages">
    {{m | json}}
  </p>

</div>






