.email {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.password {
  display: flex;
  justify-content: center;
  align-items: center;

}

.mat-form-field {
  width: 300px;
  height: auto;
  font-size: 16px;
}


.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonsDIV{
 display: flex;
  justify-content: center;
}
#btnLogin {
  color: white;
  width: 100px;
  margin-right: 10px;
}

#btnRegister {
  color: white;
  background-color: #b06c6c;
  width: 100px;
}
.LogindPage{
  padding: 50px;

  .singOut{
    display: flex;
    justify-items: center;
    justify-content: right;
    color: black;

    button{
      background-color: darkgoldenrod;
      color: white;
    }

  }
  h1{
    background: #b8860b38;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 20px 0 20px 0;
  }
}
.message{
  padding: 20px;
  color: #b06c6c;

  #iconM{
    height: 33px;
  }
}
